<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>

        <div id="main">
            <img class="d-block w-100 " src="/assets/slide_image3.jpeg" alt="First slide" style="height: 500px">
        </div>
        
        <section class="py-5" style="text-align:center;">
            <h3>How we help you??</h3>
            <div class="container px-4 px-lg-5 mt-5">
                Shoes are an integral part of our dressing up routine, and you can go from formal to party, simple to stylish, casual to trendy in minutes
                by simply switching your shoes. A huge variety and design of shoes are now available in the market for various activities from mountaineering
                to sports from red carpet to mining. The value of a good pair of shoes is constant. Whatever the occasion may be befitting shoes paired with 
                an outfit is the need. Online shoes shopping is the process preferred by many these days. Hence nevon projects has designed an easy and efficient
                online shoes shopping website project using python programming language. This shoe shopping website is a good collection of footwear for girls and
                boys paired with extremely profitable offers and deals to choose from this website. Thus, this online shoe shopping will relieve people by providing 
                access for purchasing shoes just by sitting at home. This online shopping system has two modules namely, Admin and Customer. Admin can add shoes, view 
                products, view customers and also admin can view the customers’ orders. Customers can register and login using credentials. He/she can view products, 
                can add products to the cart and do the payment, they can also track their order and view their previous order history.
            </div>
        </section>
    </body>
</html>

