<div style="background-image: url('/assets/congratulations.jpg');">
<div class="vh-100", style="text-align:center; padding: 17%; font-size: 40px;">
Thank you for shopping with us!<br />
your order has been processed.<br />
A detailed email has been sent.<br />
<a href="/gallery/index" style="color: skyblue;">
Click here to continue the shopping
</a>
</div>
</div>
